#emoticon_button * { 
    padding: 0; 
    margin: 0; 
    font: 12px georgia; 
    list-style-type:none;}
#emoticon_button { 
    float: left;
    line-height: 10px;
    background: #6f6f6f url(/img/buttons/bg_silver_big.png) repeat-x;
    padding: 0 3px;
    height: 47px;
    margin-left: -1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#emoticon_button ul li ul li a:hover { 
    background: #ECF1E7; 
    padding-left: 5px;
    border: solid 1px #000;}
#emoticon_button ul li ul li {
    min-width: 330px;
    border: none;
    background: none;
}
#emoticon_button ul li ul li div {
    max-height: 600px;
    overflow: auto;
    margin-left: 0.35px;
    margin-right: 0.55px;
    border-left: 3px outset #3c3c3c;
    border-top: 3px outset -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;;
    border-right: 3px outset #3c3c3c;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #B0BD97;  
    padding-top: 3px; 
    padding-bottom: 3px; 
    padding-left: 3px; 
    padding-right: 3px;
    background-color: white;
    vertical-align: center;
    text-align: center;
}
#emoticon_button ul li ul li div div{
    color: #B0BD97;
    background-color: white;
    vertical-align: center;
    text-align: center;
    border: none;
}
#emoticon_button ul li ul li img{
    vertical-align: center;
    text-align: center;
    border: none;
}
#emoticon_button ul li ul li a { 
    font: 11px arial; 
    font-weight: normal; 
    font-variant: small-caps; 
    padding-top: 3px; 
    padding-bottom: 3px;}
#emoticon_button ul li {
    float: left; 
    font-weight: bold;}
#emoticon_button ul li a { 
    font-weight: bold;
    padding: 15px 10px;}
#emoticon_button li{ 
    position: relative; 
    float: left;}
#emoticon_button ul li ul, #emoticon_button:hover ul li ul, #emoticon_button:hover ul li:hover ul li ul{ 
    display: none;
    list-style-type: none; 
    width: 50px;}
#emoticon_button:hover ul, #emoticon_button:hover ul li:hover ul, #emoticon_button:hover ul li:hover ul li:hover ul { 
    display:block;}
#emoticon_button:hover ul li:hover ul li:hover ul { 
    position: absolute;
    margin-left: 5px;
    margin-top: -22px;
    font: 10px;}
#emoticon_button:hover ul li:hover ul { 
    position: absolute;
    margin-top: 1px;
    font: 10px;
}
#emoticon_button>ul>li:hover>ul { 
    bottom: 100%;
    left: 0;
}
.emoticon {
    display: inline-block;
    min-width: 50px;
    height: 50px;
    padding: 8px;
    text-decoration: none;
}
.emoticon:hover {
    background-color: #fff;
}
.emoticon img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;  
    z-index: -1;
}
#emotcontrol {
}
#emotpage {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 12px;
    background: #6f6f6f url(/img/buttons/bg_silver_big.png) repeat-x;
    padding: 0 3px;
    height: 20px;
    margin-left: -1px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#emotbottom {
    background: none;
    height: 20px;
    width: 100%;
}